nav{
    background-color: black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding-right: 10px;
}

*{
    font-family: "Inter";
}

body{
    margin: 0;
    padding: 0;
    background-color: #1E1E1E;
}

.box2{
    display:flex;
    flex-direction: row;
    gap:2rem;
    color:white;
}

.rise{
    display: flex;
    flex-direction: row;
    color: white;
    letter-spacing: 1.5rem;
    font-size: 2rem;
    justify-content: space-between;
    padding-left: 3rem;
}

.rm{
    background-color: white;
    color: black;
    padding: 2px 45px;
    text-decoration: none;
    text-align: center;
}

.divicon{
    color: white;
    display: none;
}

.box2 a{
    border-radius: 10px;
}

@media screen and (max-width : 900px){
    
    .box2{
        display:flex;
        position: absolute;
        top:20vh;
        flex-direction: column;
        left: 0;
        gap:2rem;
        width: 100vw;
        box-sizing: border-box;
        padding: 1rem 2rem;
    }

    .divicon{
        display: block;
    }

    .box2 a{
        border-radius: 10px;
    }

}